
@media (min-width: 844px) {
    .contenedor{
        position: relative;
        display: inline-block;    
    }

    .texto-encima{
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .overflow {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
