{% extends 'base.html.twig' %}

{% block title %}Consulta la Carta{% endblock %}

{% block body %}

{% trans_default_domain 'index' %}

    <section class="hero">
        <figure class="image">
            <img src="{{ asset('images/home.jpg')}}">
        </figure>
    </section>

    <section class="section">
        <div class="container">
            <a name="about"></a>
            <h2 class="title has-text-centered has-text-link">Consultalacarta.es</h2>
            {% trans %}Index.About-us{% endtrans %}            
            <div class="columns is-centered has-background-link mt-5" style="padding: 2rem">
                <div class="column">
                    <div class="card has-background-info">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="{{asset('images/pic1.png')}}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 has-text-light">{% trans %}Index.About-us.title-card-one{% endtrans %}</p>
                                    <p class="subtitle is-6 has-text-light">{% trans %}Index.About-us.subtitle-card-one{% endtrans %}</p>
                                </div>
                            </div>

                            <div class="content has-text-light">
                                {% trans %}Index.About-us.content-card-one{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card has-background-info">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="{{asset('images/pic2.png')}}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 has-text-light">{% trans %}Index.About-us.title-card-two{% endtrans %}</p>
                                    <p class="subtitle is-6 has-text-light">{% trans %}Index.About-us.subtitle-card-two{% endtrans %}</p>
                                </div>
                            </div>

                            <div class="content has-text-light">
                                {% trans %}Index.About-us.content-card-two{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card has-background-info">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="{{asset('images/pic3.png')}}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 has-text-light">{% trans %}Index.About-us.title-card-three{% endtrans %}</p>
                                    <p class="subtitle is-6 has-text-light">{% trans %}Index.About-us.subtitle-card-three{% endtrans %}</p>
                                </div>
                            </div>
                            <div class="content has-text-light">
                                {% trans %}Index.About-us.content-card-three{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">{% trans %}Index.Premium-details{% endtrans %}</h2>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Fri 27 Nov 2016</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="container has-text-centered">
            <a name="contact"></a>
            <h2 class="title">Contacta</h2>
            <form>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" placeholder="Message us"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">
                                    Send message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>    
    
{% endblock %}
{% block scripts %}{% endblock %}
